
asgiref
dj-database-url
Django
django-crum
django-widget-tweaks
future
gunicorn
html5lib
mysqlclient
Pillow
psycopg2
PyPDF2
python-bidi
python-decouple
pytz
reportlab
six
sqlparse
webencodings
xhtml2pdf
